{{#file-upload
  name="csv"
  accept=".csv"
  multiple=false
  onfileadd=(action "attachFile")}}
  <a class="btn btn-outline-secondary">Select CSV from disk</a>
{{/file-upload}}
{{#if file.name}}
  <span class="file-name">{{file.name}}</span>
{{/if}}
