<div class="form-group">
  <label>{{label}}</label>
  {{#power-select
    triggerId=id
    placeholder='...'
    searchEnabled=false
    allowClear=true
    options=content
    selected=valueWrapper
    onchange=(action (mut valueWrapper))
  as |item|
  }}
    {{item}}
  {{/power-select}}
</div>
