<div class="form-group">
  <label>{{label}}</label>
  {{#if multiple}}
    {{#power-select-multiple
      placeholder=placeholder
      searchEnabled=true
      allowClear=true
      selected=valueWrapper
      search=(perform searchTask)
      onchange=(action 'onChange')
    as |item|
    }}
      {{item}}
    {{/power-select-multiple}}
  {{else}}
    {{#power-select
      placeholder=placeholder
      searchEnabled=true
      allowClear=true
      selected=valueWrapper
      search=(perform searchTask)
      onchange=(action 'onChange')
    as |item|
    }}
      {{item}}
    {{/power-select}}
  {{/if}}
</div>