<div class="filter-collapse-btn" {{action "toggle"}} role="button">
  <span data-test-label>{{label}}</span>
  {{#if collapsed}}
    <i class="material-icons">arrow_drop_down</i>
  {{else}}
    <i class="material-icons">arrow_drop_up</i>
  {{/if}}
</div>