<main class="page-content">
  <div class="container">
    <CsvUploader
      @model={{this.model}}
      @parentModelName={{parentModelName}}
      @redirectAfterSave={{false}}
    />
  </div>
</main>