h2.subtitle {
  margin-bottom: 1rem;
  text-decoration: underline;
}

#main-menu {
  @include media-breakpoint-down(md) {
    padding-left: 60px;
  }
}

.container.xl {
  max-width: 1450px;
}

.page-header {
  padding: 1rem;
  color: $white;
  background-color: $cyan;
  .page-title {
    margin-bottom: 0;
  }
}

.page-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.actions-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  h2 {
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }
  ul.actions {
    padding: 0 0 0 0.4rem;
    margin-bottom: 0;
    margin-left: auto;
    @include media-breakpoint-down(md) {
      margin-left: 0!important;
      padding: 0;
      display: flex;
    }
    li {
      display: inline-block;
      margin-left: 0.8rem;
      @include media-breakpoint-down(md) {
        margin-bottom: 1rem;
      }
      .material-icons {
        font-size: 25px;
      }
    }
  }
}

// tables
td a {
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
td.actions {
  white-space: nowrap;
}
td.sort-header {
  a {
    cursor: pointer;
  }
  i {
    font-size: inherit;
  }
}
//forms
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}
.is-required>label:after {
  content: '*';
}
