main, footer, section.page-header {
  padding-left: 240px;
  &.full-width {
    padding-left: 0px;
  }
}

ul#slide-out.side-nav {
  margin-top: 64px;
}

section.page-header {
  height: 122px;
  background-color: color("teal", "darken-1");
  h1 {
    color: white;
    margin: 0 0 1.68rem 0;
    padding-top: 2.1rem;
  }
}

td a {
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

.actions a, .actions button {
  margin-right: 10px;
  &:last-child {
    margin-right: inherit;
  }
}

td.sort-header {
  a {
    cursor: pointer;
  }
  i {
    font-size: inherit;
  }
}
