<div class="form-group">
  <label>
    {{@label}}
  </label>
  <input
    type="number"
    value={{this.valueWithoutSeconds}}
    class="form-control"
    step="10"
    @min="0"
    {{on "input" this.onInput}}
  >
</div>