.filter-block {
  .form-group {
    margin-bottom: 0.4rem;
    label {
      margin-bottom: 0.2rem;
    }
  }
  .f-actions {
    margin-top: 1rem;
  }
  .filter-collapse-btn {
    display: flex;
    justify-content: center;
    padding: 0.2rem 0;
    font-weight: 500;
    cursor: pointer
  }
}
