.ember-power-select-trigger {
  height: calc(2.25rem + 2px);
  padding: 0.325rem 0.75rem;
  line-height: 1.5;
}
.is-invalid {
  .ember-power-select-trigger {
    border-color: $red;
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }
  }
}
.is-valid {
  .ember-power-select-trigger {
    border-color: $green;
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25)
    }
  }
}
