<h2 class="subtitle">New destination</h2>
{{#bs-form model=model onSubmit=(action 'save') novalidate=true as |form|}}
  {{form.element
    label='ID'
    property='id'
    data-test-id=true
  }}
  {{form.element
    label='Prefixes'
    property='prefixesString'
    data-test-prefixes=true
  }}
  {{bs-button defaultText='Save' type='primary' buttonType='submit' data-test-submit-button=true}}
{{/bs-form}}
