<section class="page-header">
  <h1 class="page-title">
    Dashboard
  </h1>
</section>
<main>
  <div class="page-content">
    <div class="container xl">
      <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
          {{forms/cgrates-lcr-form}}
        </div>
      </div>
    </div>
  </div>
</main>
