<div class="page-content">
  <div class="container">
    <h2 class="subtitle">
      Upload to redis
    </h2>
    <form>
      <div class="form-check" data-test-flush-db>
        <Input
          @checked={{this.flushDB}}
          @id="flush-db"
          @type="checkbox"
          class="form-check-input"
        />
        <label class="form-check-label" for="flush-db">
          Flush DB
        </label>
      </div>
      <div class="form-check">
        <Input
          @checked={{this.dryRun}}
          @id="dry-run"
          @type="checkbox"
          class="form-check-input"
        />
        <label class="form-check-label" for="dry-run">
          Dry run
        </label>
      </div>
      <div class="form-check">
        <Input
          @checked={{this.validate}}
          @id="validate"
          @type="checkbox"
          class="form-check-input"
        />
        <label class="form-check-label" for="validate">
          Validate
        </label>
      </div>
      <BsButton
        @defaultText="Upload"
        @pendingText="Uploading..."
        @resolvedText="Upload complete!"
        @onClick={{perform this.uploadTask}}
      />
    </form>
  </div>
</div>