<section class="page-header">
  <h1 class="page-title container">
    Add a Tariff plan
  </h1>
</section>
<main class="page-content">
  <div class="container">
    <Forms::TariffPlanForm @model={{this.model}} @save={{save}} />
  </div>
</main>

