<div class="row m-0">
  <a {{action 'sidebarCollapse'}} class="side-nav-collapse">
    <i class="material-icons">more_vert</i>
  </a>
  {{#bs-navbar
    collapsed=sidebarCollapsed
    class='flex-column navbar-dark bg-dark navbar-expand-lg side-nav col-lg-2'
    id='left-sidebar'
    onCollapse=(action (mut collapsed) true)
    onExpand=(action (mut collapsed) false) as |navbar|}}
    {{#navbar.content class='w-100'}}
      {{#navbar.nav class='mb-auto' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-destinations' data-test-destinations-link}}Destinations{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-rates' data-test-rates-link=true}}Rates{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-destination-rates' data-test-destination-rates-link}}Destination rates{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-timings' data-test-tp-timings-link=true}}Timings{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-rating-plans' data-test-rating-plans-link=true}}Rating plans{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-rating-profiles' data-test-rating-profiles-link=true}}Rating profiles{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-actions' data-test-actions-link}}Actions{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-action-plans' data-test-action-palns-link=true}}Action plans{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-lcr-rules' data-test-lcr-rules-link=true}}Lcr rules{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-filters' data-test-filters-link=true}}Filters{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-suppliers' data-test-tp-suppliers-link=true}}Suppliers{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-resources' data-test-tp-resources-link=true}}Resources{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-attributes' data-test-tp-attributes-link=true}}Attributes{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-thresholds' data-test-tp-thresholds-link=true}}Thresholds{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.raw-supplier-rates' data-test-supplier-rates-link=true}}Raw suppliers rates{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-chargers' data-test-tp-chargers-link=true}}Chargers{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-shared-groups' data-test-tp-shared-groups-link=true}}Shared groups{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.tp-smart-rates.csv-import'}}Import from csv{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'tariff-plan.upload-to-redis'}}Upload to redis{{/nav.link-to}}
        {{/nav.item}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}

  <div class="col-lg-10 p-0">
    <section class="page-header">
      <h1 class="page-title">
        Tariff plan: {{model.name}}
      </h1>
    </section>
    {{outlet}}
  </div>
</div>